.one-colorpanel{
  width: 256px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(20,20,20,.2);
  border-radius: 3px;
  overflow: hidden;
  *,
  *:before,
  *:after{
      box-sizing: border-box;
  }
  ul,li{
      list-style: none;
      margin: 0;
      padding: 0;
  }
}
.one-color-pointer{
  $size: 16px;
  width: $size;
  height: $size;
  border-radius: $size / 2;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
  border: 1px solid #fff;
  z-index: 1;
  cursor: pointer;
  transform: translateX(-$size/2) translateY(-$size/2);
}
.one-colors{
  $w: 256px;
  $h: 160px;
  width: $w;
  height: $h;
  position: relative;
  background-color: #f30;
  overflow: hidden;
  & > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .one-brightness-light{
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0))
  }
  .one-brightness-dark{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000)
  }
}
@mixin transparent(){
  position: relative;
  z-index: 0;
  &:after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMElEQVQ4T2N89uzZfwY8QFJSEp80A+OoAcMiDP7//483HTx//hx/Ohg1gIFx6IcBALl+VXknOCvFAAAAAElFTkSuQmCC);
  }
}
.one-color-present{
  $w: 40px;
  width: $w;
  height: $w;
  border-radius: $w / 2;
  position: relative;
  overflow: hidden;
  border: 1px solid #eee;
  @include transparent();
  div{
    height: 100%;
    width: 100%;
  }
}
.one-color-control{
  $w: 12px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  .one-hue{
    height: $w;
    width: 100%;
    border-radius: 3px;
    background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
  }
  .one-opacity{
    height: $w;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
    @include transparent();
  }
  .one-color-slider{
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.one-color-value{
  text-align: center;
  padding: 0 10px 5px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  input{
    text-align: center;
    padding: 2px 0;
    border: 1px solid #eee;
    width: 36px;
    outline: none;
    border-radius: 3px;
    transition: border-color .2s ease;
    line-height: 1;
    font-size: 12px;
    &:hover{
      border-color: #2196f3;
    }
  }
}
.one-type-ul{
  width: 200px;
  ul {
    display: flex;
    justify-content: space-between;
    p{
      color: #999;
      margin: 5px 0;
      line-height: 1;
      font-size: 13px;
    }
  }
}
.one-type-hex{
  ul{
    justify-content: center;
  }
  input{
    width: 120px;
  }
}
.one-color-toggle{
  $borderSize: 1px;
  $offset: 5px;
  position: relative;
  display: block;
  width: 20px;
  height: 26px;
  border-radius: 3px;
  transition: background-color .2s ease;
  &:hover{
    background-color: #eee;
  }
  &:before,
  &:after{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    top: 10px;
  }
  &:before{
    left: $offset;
    border-bottom: $borderSize solid #999;
    border-left: $borderSize solid #999;
    transform: rotate(45deg);
  }
  &:after{
    right: $offset;
    border-top: $borderSize solid #999;
    border-right: $borderSize solid #999;
    transform: rotate(45deg);
  }
}
.one-color-stash{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.one-color-stash-wrap{
  width: 210px;
  $w: 16px;
  ul{
    display: flex;
    flex-flow: wrap;
  }
  li{
    margin: 5px;
    width: $w;
    height: $w;
    border-radius: 2px;
    transition: transform .1s ease;
    box-shadow: 0 0 1px #aaa;
    cursor: pointer;
    &:hover{
      transform: scale(1.5);
    }
    &.transparent{
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMElEQVQ4T2N89uzZfwY8QFJSEp80A+OoAcMiDP7//483HTx//hx/Ohg1gIFx6IcBALl+VXknOCvFAAAAAElFTkSuQmCC);
    }
  }
}
